* {
    margin: 0;
    padding: 0;
}

.nav-link {
    color:grey !important;
}

.navbar-brand{
    color: white !important;
}
.nav-link:hover{
    color: white !important;
}

.nav-item:hover{
    color: white !important;
}

img {}

body {
    background-color: #f3f3f3;

}

#prodList {

}

.card {
    width: 450px;
    float: left;
    margin: 50px;
    border-radius: 20px;

}

.container{
    display: flex;
    justify-content: space-between;
}

.card img {
    border-bottom: black 1px solid;
    border-radius: 20px;
}

.card-title, .card-text {
    padding: 5px;

}

#prodList {
    display: block;
    height: auto;
}

.form-group {
    margin-top: 25px;
    margin-left: 25px;
}

